       
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
    --main-backgroung-color: rgb(237, 249, 253), 230, 238);
    --first-color:  deepskyblue;
    --attention-color: red;
  }
body {
    background-color: var(main-backgroung-color);
}

h3,h4 {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

.mainHolder {
    margin-left: 10%;
    margin-right: 10%;
}
.panelBox {
    margin-top: 10%;
    text-align: center;
     display: grid;
     grid-template-rows: 1fr 1fr;

}

.panelBox div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid var(--first-color);
    padding: 50px;
    font-size: xx-large;
    color: var(--first-color);
    /* align-items: center; */
    margin: 20px;
    width: 70%;
    height: 50px;
    cursor: pointer;
    background-color: deepskyblue;
    /* background-color: var(--first-color); */
}

.panelBox div a {
    color: white;
    text-decoration: none;
}


.homeIcon {
width: 100px;
height: 100px;
}

.sign_page {
    margin-top: 50px;
    /* background-color: blueviolet; */
    text-align: center;
    
}
.sign_form {
    padding: 10px;
    display: inline-block;

}
.inputs_sign { 
    font-family: 'Roboto', sans-serif; 
    background-color: whreditesmoke;
    display: flex;
    box-sizing: border-box;
    width: 400px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 50px;
    margin-top: 30px;
    padding-left: 20px;

}

input[type="text"],select, input[type="date"],input[type="password"], input[type="number"], button {
    outline:none;
}

.sign_btn {
    font-family: 'Roboto', sans-serif;
    background-color:var(--first-color);
    color: whitesmoke;
    width: 200px;
    height: 40px;
    margin-top: 30px;
    border-radius: 50px;
    border: grey 1px solid;
    cursor: pointer;
}

button :hover {
    background-color: red;
}

h4 {
    color: blue;
    cursor: pointer;
}

.status {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 10px;
}

.anouncementHeader {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    text-transform: uppercase;
}

.anouncement {
    border-top: 1px solid black;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 30px;
    /* margin-left: 10%; */
    text-align: center;
    width: 100%;
    padding: 30px;
    margin-top: 50px;
}

#anouncement_image {
    display: inline;
    width: 100px;
}

#readMore {
    color: white;
    background-color: deepskyblue;
    padding: 10px;
    cursor: pointer;
}

.extra {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.inline_div {
    font-family: 'Roboto', sans-serif;
    display: flex;
    text-align: center;
    margin-bottom: 20px;
}
.anouncement_form {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;

}

.sin_btn {
    margin-top: 10px;
    width: 150px;
    height: 30px;
    background-color: transparent;
    border: 1px white solid;
    border-radius: 50px;
}

.sign_in2 { 
    float: right;

}
 .sign_in1 {
 
    float: left;

}

.inputs_sin {
    font-family: 'Roboto', sans-serif; 
    background-color: whreditesmoke;
    display: flex;
    box-sizing: border-box;
    width: 400px;
    height: 100px;
    border: 1px solid grey;
    border-radius: 20px;
    margin-top: 30px;
    padding-left: 20px;
}

.anouncementform {
    margin-left: 15%;
    margin-top: 50px;

}

@media screen and (max-width: 600px) {
    .anouncementform input{
        width: 80%;
        margin-left: 0%;
    }
    .anouncement {
        margin-left: 0%;
        grid-template-columns: 200px;
        grid-template-rows: 100px 100px 100px;
        grid-gap: 40px;
    }
}


.anouncementform div {
    color: var(--first-color);
    padding: 10px;
}

.options {
    padding: 10px;
    
}

.message{
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}